<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRB48Mvve0U3Kj6Z1Rmb9uHIb98AwLFPA</string>
	<key>GCM_SENDER_ID</key>
	<string>463037248086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>simplequizapp-6442d</string>
	<key>STORAGE_BUCKET</key>
	<string>simplequizapp-6442d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463037248086:ios:b227edee5437705e7d41f7</string>
	<key>DATABASE_URL</key>
	<string>https://simplequizapp-6442d-default-rtdb.firebaseio.com</string>
</dict>
</plist>